 * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: cursive;
 }

 .main {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("./images/Cape-Town-High-Quality-Wallpapers.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  }